@{ 
    var person = Milton.Web.Mvc.Helpers.Users.UserContext().Person;
}
<section class="page-header alternative-header">
    <ol class="breadcrumb">
        <li>Milton</li>
        <li>Dashboard</li>
    </ol>
    <div class="page-header_title">
        <h1>
            Dashboard
            <span class="page-header_subtitle">Welcome Back @person.FirstName @person.Surname</span>
        </h1>
    </div>
</section>
<section class="page-content">


</section>