@model Milton.Website.Models.Account.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Milton - Log In</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap Core CSS - Include with every page -->
    <link href="/styles/bootstrap.min.css" rel="stylesheet">
    <!-- Bemat Admin CSS - Include with every page -->
    <link href="/styles/bemat-admin.min.css" rel="stylesheet" id="theme-switcher">

    <!-- Documentation Prettify -->
    <link href="/styles/prettify-tomorrow.css" rel="stylesheet" />
</head>
<body id="page-authentication" class="container-fluid ">

    <div id="authentication-box" class="authentication-style1">
        <div class="authentication-box-wrapper">
            <div class="panel panel-default">
                <div class="panel-body no-padding">

                    <div class="authentication-header">
                        <div class="logo-box logo-box-primary-light padding-top-4">
                            <div class="logo">
                                <b>M</b>
                            </div>
                            ilton
                        </div>
                        <span>Concordia Lodge Management</span>
                    </div>
                    <div class="authentication-body">
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "login-form", @class = "form", role = "form" }))
                        {
                            <div class="form-group floating-label">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "" })
                                <label for="Email">Username</label>
                            </div>
                            <div class="form-group floating-label">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "" })
                                <label for="Password">Password</label>
                            </div>
                            <button type="submit" class="btn btn-info btn-raised btn-block">Sign in</button>
                                <div class="authentication-body-footer margin-top-5">
                                    <div>
                                        @*<label>
                                            <input class="checkbox checkbox-primary" type="checkbox" />
                                            <span>Stay signed in</span>
                                        </label>*@
                                    </div>
                                </div>
                        }
                    </div>
                    @if (!Html.ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger alert-dismissible m-top-md p-top-sm" role="alert">
                            <i class="fa fa-times-circle m-right-xs"></i>&nbsp;@Html.ValidationMessage("Login")
                        </div>
                    }
                </div>
            </div>
            @*<div class="text-center">
                    Don't have an account? <a href="page-authentication-register.html" class="text-default-bright">Create an account</a>
                </div>*@
        </div>

    </div>


    <!-- Core Scripts - Include with every page -->
    <script src="/scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/scripts/jquery-ui.custom.min.js" type="text/javascript"></script>
    <script src="/scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="/scripts/modernizr-2.6.2-respond-1.1.0.min.js" type="text/javascript"></script>
    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="/scripts/prettify.js" type="text/javascript"></script>
    <script src="/scripts/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="/scripts/icheck.min.js" type="text/javascript"></script>
    <script src="/scripts/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/scripts/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="/scripts/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery.fullscreen-min.js" type="text/javascript"></script>
    <script src="/scripts/moment.min.js" type="text/javascript"></script>
    <script src="/scripts/fullcalendar.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery.peity.min.js" type="text/javascript"></script>
    <script src="/scripts/chartist.min.js" type="text/javascript"></script>
    <script src="/scripts/summernote.min.js" type="text/javascript"></script>
    <script src="/scripts/ckeditor.js" type="text/javascript"></script>
    <script src="/scripts/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
    <!-- Cerocreativo Plugins -->
    <script src="/scripts/jquery.materialRipple.js" type="text/javascript"></script>
    <script src="/scripts/jquery.snackbar.js" type="text/javascript"></script>
    <script src="/scripts/jquery.toasts.js" type="text/javascript"></script>
    <script src="/scripts/jquery.speedDial.js" type="text/javascript"></script>
    <script src="/scripts/jquery.circularProgress.js" type="text/javascript"></script>
    <script src="/scripts/jquery.linearProgress.js" type="text/javascript"></script>
    <script src="/scripts/jquery.subheader.js" type="text/javascript"></script>
    <script src="/scripts/jquery.simplePieChart.js" type="text/javascript"></script>
    <!-- Bemat Admin Scripts - Included with every page -->
    <script src="/scripts/bemat-admin-common.min.js"></script>
    <script src="/scripts/bemat-admin-demo.min.js"></script>
</body>
</html>
