<section class="page-header alternative-header">
    <ol class="breadcrumb">
        <li>Milton</li>
        <li>Reports</li>
        <li>Financial Report</li>
    </ol>
    <div class="page-header_title">
        <h1>
            Financial Report
            <span class="page-header_subtitle"></span>
        </h1>
    </div>
</section>

<section class="page-content">

    <div class="row">
        <div class="col-md-6 panel panel-default">
            <div class="panel-body">
                <form class="form" action="/generatereport/financial" method="post">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Generate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            

        });

    </script>

}