<connectionStrings>
	<add name="DatabaseContext" connectionString="Server=195.8.222.24;Port=3306;Database=concordia_milton;Allow Zero Datetime=true;Convert Zero Datetime=True;Allow User Variables=True;Uid=concordia;Pwd=1aesYHAK;Charset=utf8" providerName="MySql.Data.MySqlClient" />
</connectionStrings>